<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:lang="${#locale.language}">

<head></head>
<body>
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" th:fragment="navbar">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}"> 
				<img th:src="@{/images/web_logo.png}" width="30" height="30" class="d-inline-block align-top" alt=""> <span th:text="#{app.name}"></span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
				    	<a class="nav-link" th:href="@{/test}" th:text="#{msg.test.menu}" th:classappend="${pageTitle} == #{msg.test.menu} ? active"></a>
				    </li>
				    <li class="nav-item">
				    	<a class="nav-link" th:href="@{/user}" th:text="#{msg.usuari.index.menu}" th:classappend="${pageTitle} == #{msg.usuari.show.menu} ? active"></a>
				    </li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
							<span><i class="fas fa-globe-europe"></i> <span class="text-uppercase" th:text="#{${lang}}" th:with="lang='locale.language.' + ${#locale.language}"></span></span>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item text-uppercase" th:href="@{/locale(lang=es_ES)}" th:text="#{locale.language.es}" th:classappend="__${#locale.language}__ == 'es' ? active"></a> 
							<a class="dropdown-item text-uppercase" th:href="@{/locale(lang=ca_CA)}" th:text="#{locale.language.ca}" th:classappend="__${#locale.language}__ == 'ca' ? active"></a>
							<a class="dropdown-item text-uppercase" th:href="@{/locale(lang=en_EN)}" th:text="#{locale.language.en}" th:classappend="__${#locale.language}__ == 'en' ? active"></a>			
							<a class="dropdown-item text-uppercase" th:href="@{/locale(lang=fr_FR)}" th:text="#{locale.language.fr}" th:classappend="__${#locale.language}__ == 'fr' ? active"></a>
							<a class="dropdown-item text-uppercase" th:href="@{/locale(lang=de_DE)}" th:text="#{locale.language.de}" th:classappend="__${#locale.language}__ == 'de' ? active"></a>
						</div>
					</li>
					<li sec:authorize="isAuthenticated()" class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-user-circle"></i> <span sec:authentication="name"></span>
						</a>
						<div class="dropdown-menu">
							<form id="logoutForm" th:action="@{/logout}" method="post">
								<button class="dropdown-item" onclick="document.getElementById('logoutForm').submit();" type="submit"><i class="fas fa-sign-out-alt"></i> <span th:text="#{msg.login.out}"></span></button>
							</form>						
						</div>
					</li>					
				</ul>
			</div>
		</div>
	</nav>
</body>
</html>